<?xml version="1.0"?>
<config>
    <modules>
        <MageMash_AdminProductGrid>
            <version>0.1.0</version>
        </MageMash_AdminProductGrid>
    </modules>
    <global>
        <resources>
            <magemash_adminproductgrid_setup>
                <setup>
                    <module>MageMash_AdminProductGrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magemash_adminproductgrid_setup>
            <magemash_adminproductgrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magemash_adminproductgrid_write>
            <magemash_adminproductgrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magemash_adminproductgrid_read>
        </resources>
        <models>
            <adminproductgrid>
                <class>MageMash_AdminProductGrid_Model</class>
                <resourceModel>adminproductgrid_resource</resourceModel>
            </adminproductgrid>
            <adminproductgrid_resource>
                <class>MageMash_AdminProductGrid_Model_Resource</class>
                <entities>
                    <field>
                        <table>magemash_adminproductgrid_field</table>
                    </field>
                    <grid>
                        <table>magemash_adminproductgrid_grid</table>
                    </grid>
                </entities>
            </adminproductgrid_resource>
        </models>
        <blocks>
            <adminproductgrid>
                <class>MageMash_AdminProductGrid_Block</class>
            </adminproductgrid>
        </blocks>
        <helpers>
            <adminproductgrid>
                <class>MageMash_AdminProductGrid_Helper</class>
            </adminproductgrid>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <magemash_adminproductgrid>
                    <file>magemash_adminproductgrid.xml</file>
                </magemash_adminproductgrid>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminproductgrid>
                <use>admin</use>
                <args>
                    <module>MageMash_AdminProductGrid</module>
                    <frontName>adminproductgrid</frontName>
                </args>
            </adminproductgrid>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <adminproductgrid>
                    <file>magemash_adminproductgrid.xml</file>
                </adminproductgrid>
            </updates>
        </layout>
    </adminhtml>
</config>