<?xml version="1.0"?>
<config>
    <modules>
        <MageMash_Adminproductgrid>
            <version>0.1.0</version>
        </MageMash_Adminproductgrid>
    </modules>
    <global>
        <resources>
            <magemash_adminproductgrid_setup>
                <setup>
                    <module>MageMash_Adminproductgrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magemash_adminproductgrid_setup>
            <magemash_adminproductgrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magemash_adminproductgrid_write>
            <magemash_adminproductgrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magemash_adminproductgrid_read>
        </resources>
        <models>
            <adminproductgrid>
                <class>MageMash_Adminproductgrid_Model</class>
                <resourceModel>adminproductgrid_resource</resourceModel>
            </adminproductgrid>
            <adminproductgrid_resource>
                <class>MageMash_Adminproductgrid_Model_Resource</class>
                <entities>
                    <field>
                        <table>magemash_adminproductgrid_field</table>
                    </field>
                    <customgrid>
                        <table>magemash_adminproductgrid_customgrid</table>
                    </customgrid>
                </entities>
            </adminproductgrid_resource>
        </models>
        <blocks>
            <adminproductgrid>
                <class>MageMash_Adminproductgrid_Block</class>
            </adminproductgrid>
            <adminhtml>
                <rewrite>
                    <page_menu>MageMash_Adminproductgrid_Block_Adminhtml_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <adminproductgrid>
                <class>MageMash_Adminproductgrid_Helper</class>
            </adminproductgrid>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <magemash_adminproductgrid>
                    <file>magemash_adminproductgrid.xml</file>
                </magemash_adminproductgrid>
            </updates>
        </layout>
    </frontend>

    <!--<admin>-->
        <!--<routers>-->
            <!--<adminproductgrid>-->
                <!--<use>admin</use>-->
                <!--<args>-->
                    <!--<module>MageMash_Adminproductgrid</module>-->
                    <!--<frontName>adminproductgrid</frontName>-->
                <!--</args>-->
            <!--</adminproductgrid>-->
        <!--</routers>-->
    <!--</admin>-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adminproductgrid before="Mage_Adminhtml">MageMash_Adminproductgrid_Adminhtml</adminproductgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>

        <layout>
            <updates>
                <adminproductgrid>
                    <file>magemash_adminproductgrid.xml</file>
                </adminproductgrid>
            </updates>
        </layout>
    </adminhtml>
    <customadmingrid>
        <table>
            <product>
                <product>
                    <entity_id></entity_id>
                    <qty></qty>
                    <name></name>
                </product>
                <attribute class="MageMash_Adminproductgrid_Model_Field_Type_Attribute"/>
            </product>
            <order>
                <order>
                    <entity_id></entity_id>
                    <total></total>
                    <increment_id></increment_id>
                </order>
            </order>
        </table>
    </customadmingrid>
</config>